<p>
  Huifu content
</p>
<div>
  <div class="card" id="{{'card_'+currentUser}}">
    <div *ngIf="showCard"> <button class="btn btn-outline-primary" (click)="addSection()" *ngIf="currentUser" style="width: 100px; border-left-width: 50%;">Add content</button>
      <div *ngFor="let heading of headingArr">
        <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-1">
          <ngb-panel>
            <ng-template ngbPanelTitle><button class="btn btn-outline-success" (click)="editSection(heading, contentStr)" style="width: 100px; border-left-width: 50%;">Edit content</button>
              <div style="color: darkslategray; font: bold;" [attr.aria-expanded]="!isCollapse">
                {{heading}}
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div class="card-body">
                  {{contentStr}}
              </div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
<!-- <ng-template #content let-modal>
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (submit)="addSection($event)">
          <label>Heading</label><input type="text" class="form-control" id="heading" value={{headingStr}}><br>
          <label>Content</label><textarea cols="100" class="form-control" id="content">{{contentStr}}</textarea><br>
          <input type="submit" class="btn btn-outline-success" value="Add" ><input class="btn btn-danger" type="button" (click)="cancelAdd()" value="Cancel">
        </form>
    </div>
  </ng-template> -->
<div class="container" *ngIf="editCard">
    <form (submit)="createSection($event)">
      <label>Heading</label><input type="text" class="form-control" id="heading" value={{headingStr}}><br>
      <label>Content</label><textarea cols="100" class="form-control" id="content">{{contentStr}}</textarea><br>
      <input type="submit" class="btn btn-outline-success" value="Add"><input class="btn btn-danger" type="button" (click)="cancelAdd()" value="Cancel">
    </form>
  </div>
