<div>
    <form (submit)="loginUser($event)">
      <input type="email" placeholder="email" id="userEmail">
      <input type="password" placeholder="password" id="userPass">
      <input type="submit" value="LOGIN">
    </form>
</div>
