<div *ngIf="currentUser">
  <div>
    <button (click)="logoutUser()">Logout</button>
  </div>
  <div class="container content">
    <div class="row">
      <div class="col-md-3">profile</div>
      <div class="col-md-9">sections</div>
    </div>
  </div>
</div>
<div *ngIf="!currentUser">
  <a routerLink="/login">Login</a>
</div>
